<!DOCTYPE html>
<html>
<head>
    <title>
        Sanchit Jain
    </title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>

    <header id="body-header">
        <nav>

            <ul class="horizontal-list text-center nav-menu">
                <li>
                    <a href="#"> Home </a>
                </li>
                <li>
                    <a href="#about"> About </a>
                </li>
                <li>
                    <a href="#skills"> Skills </a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>

        <div id="name-social-container">
            <div class="text-center">
                <h1 id="my-name">
                    Sanchit Jain
                </h1>
            </div>
            <div>
                <ul class="horizontal-list text-center social-icons">
                    <li>
                        <a href="https://www.linkedin.com/in/sanchit-jain-b117191a2">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/san395">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.facebook.com/sanchit.jain.16940">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/sanchit.395/">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>

            </div>

    </header>
    <main>

        <section id="about">
            <div id="my-image">
                <img src="my_image.jpeg">
            </div>
            <div id="about-para">

                <p>
                    My name is Sanchit Jain and I live in Jalandhar,Punjab. I am currently doing  btech in electronics and communications engineering from NIT Jalandhar.I have current cgpa of 8.97. My interests in technical domain include ML and Web Development .Talking about my hobbies , I love playing cricket , listening to music and going to cycling.  
            </div>


        </section>



        <section id="skills">
            <h1 class="section-heading mb75px ">
                <span>
                    <i class="fas fa-chalkboard-teacher"></i>
                </span>
                <span> SKILLS </span>
            </h1>

            <div class="skills-display">

                <div class="skill-progress">
                     <div style="width:80%" class="helper">
                       <span>
                         C++
                     </span>
                     </div> 
                </div>

                <div class="skill-progress">
                     <div style="width:65%" class="helper">
                         <span>
                         ML
                     </span>
                     </div> 
                </div>

                <div class="skill-progress">
                     <div style="width:90% " class="helper">
                        <span>
                         DSA
                     </span>
                     </div> 
                </div>
                <div class="skill-progress">
                     <div style="width:70% " class="helper">
                        <span>
                         Python
                     </span>
                     </div> 
                </div>


            </div>

        </section>


        <section id="contact">
             <h1 class="section-heading mb75px ">
                <span>
                    <i style="color:white;" class="fas fa-chalkboard-teacher"></i>
                </span>
                <span style="color: white;"> CONTACT </span>
            </h1>
            <div class="form-display">
                <div class=form>
                  <form method="POST", action='/create'>
                    <label for="fname">FIRST NAME:</label><br>
                    <input type="text" name="first_name" required><br>
                    <label for="lname">LAST NAME:</label><br>
                    <input type="text"  name="last_name" required><br>
                    <label for="Email">EMAIL:</label><br>
                    <input type="text"  name="email" required><br>
                    <input id="help" type="submit" class="button_" value="SUBMIT"> 
                  </form>
                </div>
            </div>
            <div id="name-social-container">
                <div class="text-center">
                    <h1 id="my-name">
                        Sanchit Jain
                    </h1>
                </div>
                <div>
                    <ul class="horizontal-list text-center social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/sanchit-jain-b117191a2">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
    
                        <li>
                            <a href="https://github.com/san395">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
    
                        <li>
                            <a href="https://www.facebook.com/sanchit.jain.16940">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/sanchit.395/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
    
                </div>
        </section>

    </main>

</body>
</html>